zip_code,city,county,state,country_code
90210,Beverly Hills,Los Angeles,CA,US
90211,Beverly Hills,Los Angeles,CA,US
90212,Beverly Hills,Los Angeles,CA,US
10001,New York,New York,NY,US
10002,New York,New York,NY,US
10003,New York,New York,NY,US
75201,Dallas,Dallas,TX,US
75202,Dallas,Dallas,TX,US
75203,Dallas,Dallas,TX,US
60601,Chicago,Cook,IL,US
60602,Chicago,Cook,IL,US
60603,Chicago,Cook,IL,US
98101,Seattle,King,WA,US
98102,Seattle,King,WA,US
98103,Seattle,King,WA,US
